#image img{
    width :100%;
}

textarea:disabled,input:disabled{
    color: black !important;
    border: none !important;
    -webkit-text-fill-color: black !important;
}

tr {
    padding : 0px !important;
    height: 10px !important;
}

table {
    border-spacing : 5px;
}

td:nth-child(3)	{
  cursor: pointer;   
}

.action_room {
    margin: 16px;
}