<!--<div class="col s12">-->
    <!--<div class="input-field inline">-->
        <!--<i class="material-icons prefix">email</i>-->

        <!--<input id="email" type="email" class="validate">-->
        <!--<label for="email" data-error="" data-success="">Email</label>-->
    <!--</div>-->
<!--</div>-->
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">motorcycle</i>

        <input id="bike_id" type="text" class="validate">
        <label for="bike_id" data-error="" data-success="">Biển số xe</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">work</i>
        <input id="job" type="text" class="validate">
        <label for="job" data-error="" data-success="">Nghề Nghiệp</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">attach_money</i>
        <input id="deposit" type="text" class="validate" value ="0">
        <label for="deposit" data-error="" data-success="">Đặt cọc</label>
    </div>
</div>



<div class="col s12">
    <div class="file-field input-field">
        <div class="btn col s2">
            <span>Ảnh chứng minh thư</span>
            <input type="file" id = "img_id" name="img_id">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
</div>
<div class="col s12">

    <div class="file-field input-field">
        <div class="btn col s2">
            <span>Ảnh chân dung</span>
            <input type="file" id = "img_person" name="img_person">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
</div>
<div class="col s12">

    <div class="file-field input-field ">
        <div class="btn col s2">
            <span>Ảnh xe</span>
            <input type="file" id = "img_bike" name="img_bike">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
</div>