<nav>
    <div class="nav-wrapper center">
        <a href="index.php" class="brand-logo"> CloudyThanh</a>
    </div>
</nav>
<nav>
        <div class="nav-wrapper  ">
            <ul id="nav-mobile" class="center-block">
                <li><a href="index.php">Trang chủ</a></li>
                <li><a href="booking.php">Đặt chỗ</a></li>
                <li><a href="history.php">Lịch sử</a></li>
                <li><a href="report.php">Báo cáo</a></li>
                <li><a href="logout.php">Đăng xuất</a></li>
            </ul>
        </div>

</nav>
