<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate" required>
        <label for="name" data-error="" data-success="">Họ và tên</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">contacts</i>
        <textarea id="address"  class="materialize-textarea" required></textarea>
        <label for="address" data-error="" data-success="">Địa chỉ</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">phone</i>
        <input id="mobile_number" type="number" class="validate " required>
        <label for="mobile_number" data-error="Số điện thoại không được có chữ cái" data-success="">Số điện thoại</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons small prefix">face </i>
        <input name="gender" type="radio" id="man" checked value = "1" />
        <label for="man">Nam</label>
        <input name="gender" type="radio" id="woman" value ="0" />
        <label for="woman">Nữ</label>
    </div>
    <br>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker" id = "birthdate" required>
        <label for="birthdate" data-error="" data-success="">Ngày sinh</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">perm_identity</i>
        <input id="id" type="text" class="validate" required>
        <label for="id" data-error="" data-success="">Số chứng minh thư</label>
    </div>
</div>

