<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">account_circle</i>
        <input id="search_name" type="text" class="validate" required>
        <label for="search_name" data-error="" data-success="">Họ và tên</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">contacts</i>
        <textarea id="address"  class="materialize-textarea" required></textarea>
        <label for="address" data-error="" data-success="">Địa chỉ</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">phone</i>
        <input id="search_room" type="number" class="validate " required>
        <label for="search_room" data-error="" data-success="">Số phòng</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons small prefix">face </i>
        <input name="search_gender" type="radio" id="man"  value = "1" />
        <label for="man">Nam</label>
        <input name="search_gender" type="radio" id="woman" value ="0" />
        <label for="woman">Nữ</label>
    </div>
    <br>
</div>
<div class="col s6">
    <div class="input-field inline">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker" id = "search_startDate" required>
        <label for="search_startDate" data-error="" data-success="">Ngày bắt đầu</label>
    </div>
</div>
<div class="col s6">
    <div class="input-field inline">
        <i class="material-icons prefix">date_range</i>
        <input type="text" class="datepicker" id = "search_endDate" required>
        <label for="search_endDate" data-error="" data-success="">Ngày kết thúc</label>
    </div>
</div>
<div class="col s12">
    <div class="input-field inline">
        <i class="material-icons prefix">perm_identity</i>
        <input id="id" type="text" class="validate" required>
        <label for="id" data-error="" data-success="">Số chứng minh thư</label>
    </div>
</div>
<div class = "center">
    <a class="waves-effect waves-light btn " id = "submit" >Tìm kiếm</a>
</div>




